EXPO_PUBLIC_API_URL=backend_api_url
EXPO_PUBLIC_SOCKET_URL=backend_socket_url
EXPO_PUBLIC_MAPBOX_TOKEN=mapbox_token
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=google_web_client_id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=google_android_client_id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=google_ios_client_id